<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>familyName</key>
    <string>OCR A Std</string>
    <key>styleName</key>
    <string>Medium</string>
    <key>styleMapFamilyName</key>
    <string>OCR A Std</string>
    <key>styleMapStyleName</key>
    <string>regular</string>
    <key>versionMajor</key>
    <integer>2</integer>
    <key>versionMinor</key>
    <integer>0</integer>
    <key>copyright</key>
    <string>© 1988, 2002, 2006 Adobe Systems Incorporated. All rights reserved.</string>
    <key>trademark</key>
    <string>Please refer to the Copyright section for the font trademark attribution notices.</string>
    <key>unitsPerEm</key>
    <integer>1000</integer>
    <key>capHeight</key>
    <integer>778</integer>
    <key>xHeight</key>
    <integer>539</integer>
    <key>ascender</key>
    <integer>778</integer>
    <key>descender</key>
    <integer>-222</integer>
    <key>italicAngle</key>
    <real>0</real>
    <key>note</key>
    <string></string>
    <key>openTypeHeadCreated</key>
    <string>2006/01/06 09:37:39</string>
    <key>openTypeHheaAscender</key>
    <integer>778</integer>
    <key>openTypeHheaDescender</key>
    <integer>-222</integer>
    <key>openTypeHheaLineGap</key>
    <integer>200</integer>
    <key>openTypeNameDesigner</key>
    <string>American Type Founders staff and Adobe Type staff</string>
    <key>openTypeNameManufacturerURL</key>
    <string>http://www.adobe.com/type</string>
    <key>openTypeNameLicenseURL</key>
    <string>http://www.adobe.com/type/legal.html</string>
    <key>openTypeNameVersion</key>
    <string>Version 2.005;PS 002.000;Core 1.0.38;makeotf.lib1.7.12746</string>
    <key>openTypeNameUniqueID</key>
    <string>2.005;ADBE;OCRAStd</string>
    <key>openTypeOS2Panose</key>
    <array>
      <integer>2</integer>
      <integer>15</integer>
      <integer>6</integer>
      <integer>9</integer>
      <integer>0</integer>
      <integer>1</integer>
      <integer>4</integer>
      <integer>6</integer>
      <integer>3</integer>
      <integer>7</integer>
    </array>
    <key>openTypeOS2WidthClass</key>
    <integer>5</integer>
    <key>openTypeOS2WeightClass</key>
    <integer>400</integer>
    <key>openTypeOS2VendorID</key>
    <string>ADBE</string>
    <key>openTypeOS2FamilyClass</key>
    <array>
      <integer>0</integer>
      <integer>0</integer>
    </array>
    <key>openTypeOS2Type</key>
    <array>
      <integer>3</integer>
    </array>
    <key>openTypeOS2TypoAscender</key>
    <integer>778</integer>
    <key>openTypeOS2TypoDescender</key>
    <integer>-222</integer>
    <key>openTypeOS2TypoLineGap</key>
    <integer>200</integer>
    <key>openTypeOS2WinAscent</key>
    <integer>823</integer>
    <key>openTypeOS2WinDescent</key>
    <integer>239</integer>
    <key>openTypeOS2SubscriptXSize</key>
    <integer>650</integer>
    <key>openTypeOS2SubscriptYSize</key>
    <integer>600</integer>
    <key>openTypeOS2SubscriptXOffset</key>
    <integer>0</integer>
    <key>openTypeOS2SubscriptYOffset</key>
    <integer>75</integer>
    <key>openTypeOS2SuperscriptXSize</key>
    <integer>650</integer>
    <key>openTypeOS2SuperscriptYSize</key>
    <integer>600</integer>
    <key>openTypeOS2SuperscriptXOffset</key>
    <integer>0</integer>
    <key>openTypeOS2SuperscriptYOffset</key>
    <integer>350</integer>
    <key>openTypeOS2StrikeoutSize</key>
    <integer>100</integer>
    <key>openTypeOS2StrikeoutPosition</key>
    <integer>323</integer>
    <key>openTypeOS2UnicodeRanges</key>
    <array>
      <integer>0</integer>
      <integer>1</integer>
      <integer>2</integer>
      <integer>3</integer>
      <integer>5</integer>
      <integer>7</integer>
      <integer>31</integer>
      <integer>33</integer>
      <integer>35</integer>
      <integer>38</integer>
      <integer>41</integer>
      <integer>45</integer>
      <integer>60</integer>
      <integer>62</integer>
    </array>
    <key>openTypeOS2CodePageRanges</key>
    <array>
      <integer>0</integer>
    </array>
    <key>postscriptFontName</key>
    <string>OCRAStd</string>
    <key>postscriptFullName</key>
    <string>OCR A Std</string>
    <key>postscriptWeightName</key>
    <string>Medium</string>
    <key>postscriptUnderlineThickness</key>
    <integer>100</integer>
    <key>postscriptUnderlinePosition</key>
    <integer>-100</integer>
    <key>postscriptBlueValues</key>
    <array>
      <integer>0</integer>
      <integer>0</integer>
      <integer>539</integer>
      <integer>539</integer>
      <integer>778</integer>
      <integer>778</integer>
    </array>
    <key>postscriptOtherBlues</key>
    <array>
      <integer>-204</integer>
      <integer>-204</integer>
    </array>
    <key>postscriptStemSnapH</key>
    <array>
      <integer>96</integer>
      <integer>100</integer>
    </array>
    <key>postscriptStemSnapV</key>
    <array>
      <integer>96</integer>
      <integer>100</integer>
    </array>
    <key>postscriptBlueScale</key>
    <real>0.03963</real>
  </dict>
</plist>
